{% set squared = false %}
{% if block is defined and block.squareCorners|length %}
    {% set squared = true %}
{% endif %}
<div class="o-card -showcase-image {{ (squared) ? '-square' }}">
    {% if card.thumbnail1|length %}
        <div class="o-card_media u-ratio-16/9">
            <img src="{{ card.thumbnail1[0].url }}" alt="{{ card.thumbnail1.title }}" />
        </div>
    {% endif %}
    <div class="o-card_top">
        <h4 class="o-card_headline o-h4">{{ card.headline1 }}</h4>
        {% if card.subheadline1|length %}<h5 class="o-card_subheadline o-subtitle">{{ card.subheadline1 }}</h5>{% endif %}
    </div>
    {% if card.copy1|length %}
        <div class="o-card_copy">
            {{ card.copy1 }}
        </div>
    {% endif %}
    <div class="o-card_actions">
        <a href="{{ card.linkedEntry[0].url }}" class="o-button">View</a>
    </div>
</div>
