{% import '_macros/form' as formMacro %}

{{ form.renderTag }}

{% if form.pages|length > 1 %}
    <ul class="o-steps -list">
        {% for page in form.pages %}
            <li class="o-steps_item {% if form.currentPage.index == page.index %}is-active{% endif %}">
                <a href="javascript:void(0);"  class="js-tab">
                    {{ loop.index }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if form.hasErrors %}
    <div class="freeform-form-has-errors">
        {{ "Error! Please review the form and try submitting again."|t('freeform') }}

        {% if form.errors|length %}
            <ul>
                {% for error in form.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endif %}

{% for row in form %}
    <div class="o-wrapper u-1/1">
        {% set fieldsInRow = 0 %}
        {% for field in row %}
            {% set fieldsInRow = fieldsInRow + 1 %}
        {% endfor %}
        {% for field in row %}
            <div class="o-wrapper u-align-top u-padding-horizontal-thin  u-1/1 {% if fieldsInRow > 1 %}u-1/{{fieldsInRow}}@medium{% endif %} {% if field.type == 'submit' %}u-text-right{% endif %}">
                {% if field.type == 'text' or field.type == 'email' %}
                    {{ formMacro.input(field.label, field.handle, field.required, field.type, field.instructions) }}
                {% elseif field.type == 'number' %}
                    {% if field.handle == 'pinNumber' %}
                        {{ formMacro.pin(field.label, field.handle, field.required, field.instructions, field.minLength, field.maxLength) }}
                    {% else %}
                        {{ formMacro.number(field.label, field.handle, field.required, field.instructions, '', field.minValue, field.maxValue) }}
                    {% endif %}
                {% elseif field.type == 'textarea' %}
                    {{ formMacro.textarea(field.label, field.handle, field.required, field.instructions) }}
                {% elseif field.type == 'select' %}
                    {{ formMacro.select(field.label, field.handle, field.required, field.instructions, field.options) }}
                {% elseif field.type == 'radio_group' %}
                    {{ formMacro.radio(field.label, field.handle, field.options) }}
                {% elseif field.type == 'checkbox_group' %}
                    {{ formMacro.checkbox(field.label, field.handle, field.options) }}
                {% elseif field.type == 'checkbox' %}
                    {{ formMacro.switch(field.label, field.handle, field.required, field.instructions, field.checked, field.value) }}
                {% elseif field.type == 'password' %}
                    {{ formMacro.password(field.label, field.handle, field.required, field.instructions) }}
                {% elseif field.type == 'submit' %}
                    <button class="o-button -outline -alt is-disabled js-submit-button">Submit</button>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endfor %}

{{ form.renderClosingTag }}
