{% set dataModel = 
    {
        "intro": "Welcome to Papertrain",
        "introCopy": "If you already have experience with Papertrain v0.4 delete this <code>homepage/</code> directory and get started. If you havn't, you should read through the following documentation. Papertrain uses the <a href=\"https://jintmethod.dev/\" target=\"_blank\">JINT methodology</a> for loading stylesheets, scripts, and images. When rendering content you should consider if rendering on the server-side or the client-side would be better depending on the context and desired functionality. Our job is to provide the user with data in a meaningful way and Papertrain defines meaningful as fast and reliable over visual design and mico-animations.",
        "links": [
            {
                "name": "#templates",
                "label": "Creating Templates"
            },
            {
                "name": "#web-components",
                "label": "Creating Web Components"
            },
            {
                "name": "#web-modules",
                "label": "Creating Web Modules"
            },
            {
                "name": "#npm-packages",
                "label": "Adding NPM Packages"
            },
            {
                "name": "#libraries",
                "label": "Adding 3rd Party Libraries"
            }
        ],
        "templates": {
            "heading": "Creating Templates",
            "copy": "<p>Templates consist of two key parts: an <code>&lt;article&gt;</code> element a <a href=\"https://twig.symfony.com/doc/2.x/tags/set.html\" target=\"_blank\">twig variable</a> named <code>dataModel</code>. Twig variables use a syntax similar to JSON so if you have any experience with that you should be able to pick up on writing twig variables relatively quickly. We use a data model twig variable to quickly mock-up the template's content. By using the variable our templates data structure can be agnostic of the CMS. This means we could hook-up the template structure to any CMS we choose as long as the Twig templating engine is used.</p>
            <p>Creating new templates is easy when using the Papertrain code generator. It will produce a basic version of a template along with its SCSS file in the location you provide. To generate a new template enter the following command into your terminal:</p>
            <codeblock>npm run create</codeblock>
            <p>When prompted enter the name <code>example</code> and select the <code>Template</code> option from the list. Generated files are placed relative to the <code>templates/</code> directory. You can enter a custom path or you can press enter to place the template directly in the templates directory. You can view your new page at <a href=\"" ~ siteUrl|trim('/') ~ "/example\" target=\"_blank\">" ~ siteUrl|trim('/') ~ "/example</a> and you can edit the twig and scss files at <code>templates/example/</code>.</p>",
        },
        "webComponents": {
            "heading": "Creating Web Components"
        },
        "webModules": {
            "heading": "Creating Web Modules"
        },
        "npmPackages": {
            "heading": "Adding NPM Packages"
        },
        "libraries": {
            "heading": "Adding 3rd Party Libraries"
        }
    }
%}

{% extends "_layouts/page" %}

{% block content %}
    <article id="homepage" eager-load-css="homepage">
        <section id="intro">
            <div>
                <h1>
                    {{ dataModel.intro }}
                </h1>
                <p>{{ dataModel.introCopy|raw }}</p>
                <nav>
                    {% for link in dataModel.links %}
                        <a href="{{ link.name }}">
                            {{ link.label }}
                            <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="long-arrow-right" class="svg-inline--fa fa-long-arrow-right fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M295.515 115.716l-19.626 19.626c-4.753 4.753-4.675 12.484.173 17.14L356.78 230H12c-6.627 0-12 5.373-12 12v28c0 6.627 5.373 12 12 12h344.78l-80.717 77.518c-4.849 4.656-4.927 12.387-.173 17.14l19.626 19.626c4.686 4.686 12.284 4.686 16.971 0l131.799-131.799c4.686-4.686 4.686-12.284 0-16.971L312.485 115.716c-4.686-4.686-12.284-4.686-16.97 0z"></path></svg>
                        </a>
                    {% endfor %}
                </nav>
            </div>
        </section>
        <section>
            <a name="templates">
                <h2>{{ dataModel.templates.heading }}</h2>
            </a>
            {{ dataModel.templates.copy|raw }}
        </section>
        <section>
            <a name="web-components">
                <h2>{{ dataModel.webComponents.heading }}</h2>
            </a>
        </section>
        <section>
            <a name="web-modules">
                <h2>{{ dataModel.webModules.heading }}</h2>
            </a>
        </section>
        <section>
            <a name="npm-packages">
                <h2>{{ dataModel.npmPackages.heading }}</h2>
            </a>
        </section>
        <section>
            <a name="libraries">
                <h2>{{ dataModel.libraries.heading }}</h2>
            </a>
        </section>
    </article>
{% endblock %}
