{% set backgroundImage = block.backgroundImage[0] ?? null %}

{% if backgroundImage|length %}
    {% set focalPoint = backgroundImage.getFocalPoint() %}
    {% set transformedImage = craft.imager.transformImage(backgroundImage, { width: 1920, ratio: 16/9 }, { mode: 'crop', position: focalPoint }) %}
{% endif %}

<section class="js-complex-content-section c-complex-content_section o-container -full {{ block.paddingType }}{{ block.paddingSize }} {{block.backgroundColor}} {% if block.backgroundVideo|length %}has-video{% endif %} {% if transformedImage is defined %}has-image{% endif %}" {% if transformedImage is defined %}style="background: url({{transformedImage.url}});"{% endif %}>
    {% if block.backgroundVideo|length or transformedImage is defined %}
        {% if block.overlay != 'none' %}<div class="c-complex-content_overlay" style="background-color:rgba({{ block.overlay }});"></div>{% endif %}
    {% endif %}
    {% if block.backgroundVideo|length %}
        <div class="c-complex-content_video">
            <video autoplay loop muted>
                <source src="{{block.backgroundVideo.url}}" type="{{block.backgroundVideo.getMimeType()}}">
            </video>
        </div>
    {% endif %}
{% set sectionOpen = true %}
