{% if block.rows|length %}
	<div class="js-complex-content-block b-accordion o-wrapper u-1/1 {{ block.paddingType }}{{ block.paddingSize }}" data-module="BasicAccordion" data-single-open="{{ block.multiRow ? 'true' : 'false' }}">
		{% for row in block.rows %}
            <div class="js-row b-accordion_row">
                <a href="javascript:void(0);" class="js-headline b-accordion_headline">
                    <h3>{{ row.heading }}</h3>
                    <div class="b-accordion_icon">
                        <div class="b-accordion_line -vertical"></div>
                        <div class="b-accordion_line -left"></div>
                        <div class="b-accordion_line -right"></div>
                    </div>
                </a>
                <div class="js-body b-accordion_body">
                    {% if row.body|length %}
                        <div class="b-copy {{ row.columnLayout }} o-wrapper u-1/1">
                            {{ row.body }}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
	</div>
{% endif %}
