{% if block.body|length %}
	<div class="b-copy o-copy o-wrapper u-1/1 {{ block.paddingType }}{{ block.paddingSize }} {{block.alignment}} {{ block.columnLayout }}">
		{{ block.body }}
	</div>
{% endif %}
