{% if block.slides|length %}
	<div class="b-gallery o-wrapper u-1/1 {{ block.paddingType }}{{ block.paddingSize }}" data-module="BasicGallery" data-style="{{ block.style }}" data-timing="{{ block.slideTransition }}">
        {% switch block.aspectRatio %}
            {% case 'u-ratio-1/1' %}
                {% set selectedRatio = "1/1" %}
                {% set width = 860 %}
            {% case 'u-ratio-4/3' %}
                {% set selectedRatio = "4/3" %}
                {% set width = 860 %}
            {% case 'u-ratio-2/3' %}
                {% set selectedRatio = "2/3" %}
                {% set width = 1280 %}
            {% default %}
                {% set selectedRatio = "16/9" %}
                {% set width = 1920 %}
        {% endswitch %}
        <div class="b-gallery_shim {{ block.aspectRatio }}">
            {% for slide in block.slides %}
                {% set transformedImage = craft.imager.transformImage(slide, { width: width, ratio: selectedRatio, mode: "crop", format: 'jpg', position: slide.getFocalPoint() }) %}
                {% switch block.style %}
                    {% case 'slide' %}
                        {% if loop.first %}
                            {% set slideStyle = 'style="transform:translateX(0);"' %}
                        {% else %}
                            {% set slideStyle = 'style="transform:translateX(100%);"' %}
                        {% endif %}
                    {% case 'fade' %}
                        {% if loop.first %}
                            {% set slideStyle = 'style="opacity:1;z-index:2;"' %}
                        {% else %}
                            {% set slideStyle = 'style="opacity:0;z-index:1;"' %}
                        {% endif %}
                    {% case 'stack' %}
                        {% if loop.first %}
                            {% set slideStyle = 'style="transform:translateX(0);z-index:2;"' %}
                        {% else %}
                            {% set slideStyle = 'style="transform:translateX(100%);z-index:1;"' %}
                        {% endif %}
                    {% case 'parallax' %}
                        {% if loop.first %}
                            {% set slideStyle = 'style="transform:translateX(0);"' %}
                        {% else %}
                            {% set slideStyle = 'style="transform:translateX(100%);"' %}
                        {% endif %}
                {% endswitch %}
                {% set backgroundPosition = ' background-position: 50% 50%' %}
                {% if slide.hasFocalPoint %}
                    {% set x = slide.focalPoint|first * 100 ~ '%' %}
                    {% set y = slide.focalPoint|last * 100 ~ '%' %}
                    {% set backgroundPosition = ' background-position: ' ~ [x, y]|join(' ') ~ ' !important;' %}
                {% endif %}
                <div class="js-slide b-gallery_slide" {{ slideStyle|raw }} data-id="{{ loop.index0 }}">
                    <div class="js-img b-gallery_image" style="background-image:url({{ transformedImage.url }});background-size:cover;{{ backgroundPosition }}"></div>
                </div>
            {% endfor %}
            <div class="b-gallery_controls">
                <a href="javascript:void(0);" class="b-gallery_button js-button" data-direction="-1">
                    {% include '_svgs/angle-left-regular.svg' %}
                </a>
                <a href="javascript:void(0);" class="b-gallery_button js-button" data-direction="1">
                    {% include '_svgs/angle-right-regular.svg' %}
                </a>
            </div>
        </div>
	</div>
{% endif %}
