{% switch numberOfHeadings %}
    {% case '1' %}
        {% set headingType = '1' %}
    {% case '2' %}
        {% set headingType = '2' %}
    {% case '3' %}
        {% set headingType = '3' %}
    {% default %}
        {% set headingType = '4' %}
{% endswitch %}
{% if block.copy|length %}
	<div class="b-heading o-wrapper u-1/1 {{ block.paddingType }}{{ block.paddingSize }} {{block.alignment}}">
		<h{{ headingType }} class="{{block.fontSize}}">
			{% if block.pageJumpLink|length %}
                {% set name = block.pageJumpLink|trim %}
            {% else %}
                {% set name = block.copy|trim %}
            {% endif %}
            {% set name = name|replace(' ', '-') %}
            <a {% if block.fontSize == 'o-h1' %}primary-heading{% endif %} name="{{ name | url_encode | lower }}">{{ block.copy }}</a>
		</h{{ headingType }}>
	</div>
{% endif %}
