{% if block.copy|length %}
	<div class="o-heading o-wrapper u-1/1 {{ block.paddingType }}{{ block.paddingSize }} {{block.alignment}}">
		<h3 class="{{block.fontSize}}">
			{{ block.copy }}
		</h3>
	</div>
{% endif %}
