{% if block.image|length %}
	<div class="b-image o-wrapper u-1/1 {{ block.paddingType }}{{ block.paddingSize }} {{block.alignment}}">
        {% set grayscale = block.grayscale %}
        {% set imageWidth = block.imageWidth %}
        {% set image = block.image[0] %}
        {% if block.aspectRatio != 'none' %}
            <div class="b-image_shim {{ block.aspectRatio }}">
                {% set selectedRatio = "16/9" %}
                {% switch block.aspectRatio %}
                    {% case 'u-ratio-1/1' %}
                        {% set selectedRatio = "1/1" %}
                    {% case 'u-ratio-4/3' %}
                        {% set selectedRatio = "4/3" %}
                    {% case 'u-ratio-2/3' %}
                        {% set selectedRatio = "2/3" %}
                    {% case 'u-ratio-36/10' %}
                        {% set selectedRatio = "36/10" %}
                        {% set imageWidth = 1920 %}
                {% endswitch %}
                {% if grayscale %}
                    {% set transformedImage = craft.imager.transformImage(image, { width: imageWidth, ratio: selectedRatio, mode: "crop", cropZoom: block.cropZoom|number_format, position: image.getFocalPoint(), effects: { grayscale: true } }) %}
                {% else %}
                    {% set transformedImage = craft.imager.transformImage(image, { width: imageWidth, ratio: selectedRatio, mode: "crop", cropZoom: block.cropZoom|number_format, position: image.getFocalPoint() }) %}
                {% endif %}
                {% set backgroundPosition = null %}
                {% if image.hasFocalPoint %}
                    {% set x = image.focalPoint|first * 100 ~ '%' %}
                    {% set y = image.focalPoint|last * 100 ~ '%' %}
                    {% set backgroundPosition = ' background-position: ' ~ [x, y]|join(' ') ~ ' !important;' %}
                {% endif %}
                <div class="b-image_image" style="background-image:url({{ transformedImage.url }});background-size:cover;{{ backgroundPosition }}"></div>
                {% if block.overlay != 'none' %}<div class="b-image_overlay" style="background-color:rgba({{ block.overlay }});"></div>{% endif %}
            </div>
        {% else %}
            {% if grayscale %}
                {% set transformedImage = craft.imager.transformImage(image, { width: imageWidth, mode: 'fit', position: image.getFocalPoint(), effects: { grayscale: grayscale } }) %}
            {% else %}
                {% set transformedImage = craft.imager.transformImage(image, { width: imageWidth, mode: 'fit', position: image.getFocalPoint() }) %}
            {% endif %}
            <div class="b-image_shim {{ block.imageAlignment }}">
                <img src="{{ transformedImage.url }}" alt="{{ image.title }}" />
                {% if block.overlay != 'none' %}<div class="b-image_overlay" style="background-color:rgba({{ block.overlay }});"></div>{% endif %}
            </div>
        {% endif %}
	</div>
{% endif %}
