{% if block.listItems|length %}
	<div class="b-list o-wrapper u-1/1 {{ block.paddingType }}{{ block.paddingSize }} {{ block.alignment }}">
		<ul class="o-list {{ block.listStyle }}">
        {% for item in block.listItems %}
            <li class="o-list_item">
                {{ item.item|striptags('<strong><a><em>')|raw }}
            </li>
        {% endfor %}
        </ul>
	</div>
{% endif %}
