{% if block.listItems|length %}
	<div class="js-complex-content-block b-list o-wrapper u-1/1 {{ block.paddingType }}{{ block.paddingSize }} {{ block.alignment }}">
		<ul class="b-list_list {{ block.listStyle }}">
        {% for item in block.listItems %}
            <li class="b-list_item">
                {{ item.item|striptags('<strong><a><em>')|raw }}
            </li>
        {% endfor %}
        </ul>
	</div>
{% endif %}
