{% if block.body|length %}
	<div class="o-quote o-wrapper u-1/1 {{ block.paddingType }}{{ block.paddingSize }}">
		<div class="o-quote_shim o-wrapper">
            {% switch block.quoteStyle %}
                {% case '-large' %}
                    <span class="o-quote_icon">&ldquo;</span>
                    <p class="o-quote_body">{{ block.body }}</p>
                {% case '-block' %}
                    <blockquote class="o-quote_body">{{ block.body }}</blockquote>
            {% endswitch %}
            {% if block.source %}
                <cite class="o-quote_source">
                    - {{ block.source }}
                </cite>
            {% endif %}
        </div>
	</div>
{% endif %}
