{% if block.videoId|length %}
	<div class="b-video o-video o-wrapper u-1/1 {{ block.paddingType }}{{ block.paddingSize }}">
		<div class="o-video_shim u-ratio-16/9">
            {% switch block.hostingPlatform %}
                {% case 'youtube' %}
                    <iframe class="o-video_video" src="https://www.youtube.com/embed/{{ block.videoId }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                {% case 'vimeo' %}
                    <iframe class="o-video_video" src="https://player.vimeo.com/video/{{ block.videoId }}?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    <script src="https://player.vimeo.com/api/player.js"></script>
                {% case 'wistia' %}
                    <script src="//fast.wistia.com/embed/medias/{{ block.videoId }}.jsonp" async></script>
                    <script src="//fast.wistia.com/assets/external/E-v1.js" async></script>
                    <div class="o-video_video wistia_embed wistia_async_{{ block.videoId }}">&nbsp;</div>
            {% endswitch %}
        </div>
	</div>
{% endif %}
