{# SEO Settings #}
{% set pageTitle = siteName %}
{% if entry is defined %}
    {% set pageTitle = entry.title ~ " | " ~ siteName %}
{% elseif category is defined %}
    {% set pageTitle = category.title ~ " | " ~ siteName %}
{% endif %}

{% set isDebug = craft.app.request.getParam('debug') %}
<!doctype html>
<html lang="en-US" class="has-no-js is-not-pointer-device is-not-touch-device" {% if isDebug|length or settings.debugMode %}data-debug="true"{% endif %} data-csrf="{{ craft.app.request.getCsrfToken() }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block head %}
            <title>{{pageTitle}}</title>
        {% endblock %}

        <link rel="apple-touch-icon" href="{{siteUrl}}assets/images/apple-touch-icon.png">
        <link rel="icon" href="{{siteUrl}}assets/images/favicon.png">

        <link rel="stylesheet" type="text/css" href="{{siteUrl}}assets/styles/main.css{% if settings.cacheBust|length %}?v={{ settings.cacheBust|date('Y-m-d') }}{% endif %}">

        <script defer src="{{siteUrl}}assets/scripts/app.js{% if settings.cacheBust|length %}?v={{ settings.cacheBust|date('Y-m-d') }}{% endif %}"></script>
    </head>
    <body>
        {% spaceless %}
            <div class="js-transition c-transition">
                <div class="c-transition_primary"></div>
                <div class="c-transition_secondary"></div>
            </div>
            {% include '_includes/header.twig' %}
            <main role="main" class="js-pjax-container">
                {% block content %}{% endblock %}
            </main>
            {% include '_includes/footer.twig' %}
        {% endspaceless %}
    </body>
</html>
