{% set isDebug = craft.app.request.getParam('debug') %}
{% set currentSite = craft.app.sites.currentSite %}
<!doctype html>
<html lang="{{ currentSite.language }}" class="has-no-js is-not-pointer-device is-not-touch-device dom-is-loading" {% if isDebug|length %}debug="true"{% endif %} data-csrf="{{ craft.app.request.csrfToken }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {# SEO Start #}
        {% set seo = getSeoField() %}
        {% if seo is null or seo.title == '' %}
            {% if entry is defined %}
                {% set seo = craft.seo.custom(entry.title, '', false) %}
            {% elseif category is defined %}
                {% set seo = craft.seo.custom(category.title, '', false) %}
            {% else %}
                {% set seo = craft.seo.custom(siteName, '', false) %}
            {% endif %}
        {% endif -%}

        {% set locale = craft.app.locale %}
        {% set locales = craft.app.i18n.siteLocaleIds|without(locale) %}

        <title>{{ seo.title }}</title>
        <meta name="description" content="{{ seo.description }}" />

        {% set fb = seo.social.facebook -%}
        <meta property="fb:app_id" content="{{ fb.handle }}">
        <meta property="og:url" content="{{ craft.app.request.absoluteUrl }}" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{ fb.title }}" />
        <meta property="og:image" content="{{ craft.seo.facebookImage(fb.image) }}" />
        <meta property="og:description" content="{{ fb.description }}" />
        <meta property="og:site_name" content="{{ siteName }}" />
        <meta property="og:locale" content="{{ locale|replace('-', '_') }}" />
        {% for locale in locales -%}
            <meta property="og:locale:alternate" content="{{ locale|replace('-', '_') }}" />
        {% endfor %}

        {% set tw = seo.social.twitter -%}
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="{{ tw.handle }}" />
        <meta name="twitter:url" content="{{ craft.app.request.absoluteUrl }}" />
        <meta name="twitter:title" content="{{ tw.title }}" />
        <meta name="twitter:description" content="{{ tw.description }}" />
        <meta name="twitter:image" content="{{ craft.seo.twitterImage(tw.image) }}" />

        {% if seo.robots -%}
            <meta name="robots" content="{{ seo.robots }}" />
        {% endif %}
        {%- if seo.expiry -%}
            <meta name="robots" content="unavailable_after: {{ seo.expiry }}" />
        {% endif %}

        <link rel="home" href="{{ alias('@rootUrl') }}" />
        <link rel="canonical" href="{{ seo.canonical }}">
        {# SEO End #}

        {# Android Navigaiton Bar Theme Colour #}
        <meta name="theme-color" content="#1FB6FF">

        {# Icons #}
        <link rel="icon" sizes="192x192" href="{{ alias('@rootUrl')|trim('/') }}/assets/images/icon-192.png">
        <link rel="apple-touch-icon" href="{{ alias('@rootUrl')|trim('/') }}/assets/images/ios-icon.png">
        <meta name="msapplication-square310x310logo" content="{{ alias('@rootUrl')|trim('/') }}/assets/images/icon-310.png">

        {# PWA Manifest #}
        {# <link rel="manifest" href="{{ alias('@rootUrl')|trim('/') }}/manifest.json"> #}

        <!-- Required CSS -->
        {% include "_layouts/global-css.twig" %}

        {# Loading animation CSS #}
        <style>
            .c-transition{
                width: 100vw;
                height: 4px;
                width: 100vw;
                height: 4px;
                position: fixed;
                top: 0;
                left: 0;
                z-index: 999999;
                transform: translate3d(0, -101%, 0);
                transition: transform 125ms cubic-bezier(0.4, 0.0, 0.6, 1);
                background: #fafafa;
                overflow: hidden;
                display: inline-block;
                opacity: 0;
                user-select: none;
                pointer-events: none;
            }

            html.dom-is-loading *{
                cursor: wait !important;
            }

            html.dom-is-loading .c-transition{
                transform: translate3d(0, 0, 0);
                opacity: 1;
                transition: transform 150ms cubic-bezier(0.0, 0.0, 0.2, 1);
            }

            html.dom-is-loading .c-transition .c-transition_primary{
                animation: primaryBar 2s infinite linear;
            }

            html.dom-is-loading .c-transition .c-transition_primary:before{
                animation: primaryScale 2s infinite linear;
            }

            html.dom-is-loading .c-transition .c-transition_secondary{
                animation: secondaryBar 2s infinite linear;
            }

            html.dom-is-loading .c-transition .c-transition_secondary:before{
                animation: secondaryScale 2s infinite linear;
            }

            .c-transition .c-transition_primary{
                left: -145%;
                position: absolute;
                width: 100%;
                height: 100%;
            }

            .c-transition .c-transition_primary::before{
                content: "";
                background: #3b83f9;
                display: inline-block;
                position: absolute;
                width: 100%;
                height: 100%;
            }

            .c-transition .c-transition_secondary{
                left: -54%;
                position: absolute;
                width: 100%;
                height: 100%;
            }

            .c-transition .c-transition_secondary::before{
                content: "";
                background: #3b83f9;
                display: inline-block;
                position: absolute;
                width: 100%;
                height: 100%;
            }

            @keyframes primaryBar{
                0%{
                    transform: translateX(0);
                }
                20%{
                    transform: translateX(0);
                    animation-timing-function: cubic-bezier(.5,0,.70173,.49582);
                }
                59%{
                    transform: translateX(83.67142%);
                    animation-timing-function: cubic-bezier(.30244,.38135,.55,.95635);
                }
                100%{
                    transform: translateX(200.61106%);
                }
            }

            @keyframes secondaryBar{
                0%{
                    transform: translateX(0);
                    animation-timing-function: cubic-bezier(.15,0,.51506,.40969);
                }
                25%{
                    animation-timing-function: cubic-bezier(.31033,.28406,.8,.73371);
                    transform: translateX(37.65191%);
                }
                48.35%{
                    animation-timing-function: cubic-bezier(.4,.62704,.6,.90203);
                    transform: translateX(84.38617%);
                }
                100%{
                    transform: translateX(160.27778%);
                }
            }

            @keyframes primaryScale{
                0%{
                    transform: scaleX(.08);
                }
                36%{
                    animation-timing-function: cubic-bezier(.33473,.12482,.78584,1);
                    transform: scaleX(.08);
                }
                69%{
                    animation-timing-function: cubic-bezier(.06,.11,.6,1);
                    transform: scaleX(.66148);
                }
                100%{
                    transform: scaleX(.08);
                }
            }

            @keyframes secondaryScale{
                0%{
                    animation-timing-function: cubic-bezier(.20503,.05705,.57661,.45397);
                    transform: scaleX(.08);
                }
                19%{
                    animation-timing-function: cubic-bezier(.15231,.19643,.64837,1.00432);
                    transform: scaleX(.4571);
                }
                44%{
                    animation-timing-function: cubic-bezier(.25776,-.00316,.21176,1.38179);
                    transform: scaleX(.72796);
                }
                100%{
                    transform: scaleX(.08);
                }
            }
        </style>

        {# Reset CSS #}
        <style>
            *{
                position: relative;
                box-sizing: border-box;
                font: inherit;
                color: inherit;
                -webkit-tap-highlight-color: transparent;
            }

            *:not(body):not(script):not(style):not(head){
                display: inline-block;
            }

            html, body, div, span, applet, object, iframe,
            h1, h2, h3, h4, h5, h6, p, blockquote, pre,
            a, abbr, acronym, address, big, cite, code,
            del, dfn, em, img, ins, kbd, q, s, samp,
            small, strike, strong, sub, sup, tt, var,
            b, u, i, center,
            dl, dt, dd, ol, ul, li,
            fieldset, form, label, legend,
            table, caption, tbody, tfoot, thead, tr, th, td,
            article, aside, canvas, details, embed,
            figure, figcaption, footer, header, hgroup,
            menu, nav, output, ruby, section, summary,
            time, mark, audio, video, button {
                margin: 0;
                padding: 0;
                border: none;
                font-size: 100%;
                vertical-align: baseline;
                display: inline-block;
                outline: none;
                background: transparent;
            }

            /* make sure to set some focus styles for accessibility */
            :focus {
                outline: 0;
            }

            /* HTML5 display-role reset for older browsers */
            article, aside, details, figcaption, figure,
            footer, header, hgroup, menu, nav, section {
                display: block;
            }

            body {
                line-height: 1;
            }

            ol, ul {
                list-style: none;
            }

            blockquote, q {
                quotes: none;
            }

            blockquote:before, blockquote:after,
            q:before, q:after {
                content: '';
                content: none;
            }

            table {
                border-collapse: collapse;
                border-spacing: 0;
            }

            input,
            select,
            textarea,
            fieldset{
                width: 100%;
                border: none;
                outline: none;
                font-size: inherit;
                line-height: normal;
                border-radius: 0;
                color: inherit;
            }

            input:focus,
            input:active,
            input:invalid,
            select:focus,
            select:active,
            select:invalid,
            textarea:focus,
            textarea:active,
            textarea:invalid,
            fieldset:focus,
            fieldset:active,
            fieldset:invalid{
                box-shadow: none;
                border: none;
                outline: none;
            }

            input,
            select{
                background: transparent;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            select{
                appearance: none;
                -moz-appearance: none;
                -webkit-appearance: none;
            }
            }

            input[type=search]::-webkit-search-cancel-button,
            input[type=search]::-webkit-search-decoration,
            input[type=search]::-webkit-search-results-button,
            input[type=search]::-webkit-search-results-decoration {
                -webkit-appearance: none;
                -moz-appearance: none;
            }

            input[type=search] {
                -webkit-appearance: none;
                -moz-appearance: none;
                -webkit-box-sizing: content-box;
                -moz-box-sizing: content-box;
                box-sizing: content-box;
            }

            textarea {
                overflow: auto;
                vertical-align: top;
                resize: vertical;
            }

            /**
            * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
            */

            audio,
            canvas,
            video {
                display: inline-block;
                *display: inline;
                *zoom: 1;
                max-width: 100%;
            }

            /**
            * Prevent modern browsers from displaying `audio` without controls.
            * Remove excess height in iOS 5 devices.
            */

            audio:not([controls]) {
                display: none;
                height: 0;
            }

            /**
            * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
            * Known issue: no IE 6 support.
            */

            [hidden] {
                display: none;
            }

            /**
            * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
            *    `em` units.
            * 2. Prevent iOS text size adjust after orientation change, without disabling
            *    user zoom.
            */

            html {
                font-size: 100%; /* 1 */
                -webkit-text-size-adjust: 100%; /* 2 */
                -ms-text-size-adjust: 100%; /* 2 */
            }

            /**
            * Address `outline` inconsistency between Chrome and other browsers.
            */

            a{
                text-decoration: none;
                color: inherit;
            }

            a:focus {
                outline: thin dotted;
            }

            /**
            * Improve readability when focused and also mouse hovered in all browsers.
            */

            a:active,
            a:hover {
                outline: 0;
            }

            /**
            * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
            * 2. Improve image quality when scaled in IE 7.
            */

            img {
                border: 0; /* 1 */
                -ms-interpolation-mode: bicubic; /* 2 */
            }

            /**
            * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
            */

            figure {
                margin: 0;
            }

            /**
            * Correct margin displayed oddly in IE 6/7.
            */

            form {
                margin: 0;
            }

            /**
            * Define consistent border, margin, and padding.
            */

            fieldset {
                border: 1px solid #c0c0c0;
                margin: 0 2px;
                padding: 0.35em 0.625em 0.75em;
            }

            /**
            * 1. Correct color not being inherited in IE 6/7/8/9.
            * 2. Correct text not wrapping in Firefox 3.
            * 3. Correct alignment displayed oddly in IE 6/7.
            */

            legend {
                border: 0; /* 1 */
                padding: 0;
                white-space: normal; /* 2 */
                *margin-left: -7px; /* 3 */
            }

            /**
            * 1. Correct font size not being inherited in all browsers.
            * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
            *    and Chrome.
            * 3. Improve appearance and consistency in all browsers.
            */

            button,
            input,
            select,
            textarea {
                font-size: 100%; /* 1 */
                margin: 0; /* 2 */
                vertical-align: baseline; /* 3 */
                *vertical-align: middle; /* 3 */
            }

            /**
            * Address Firefox 3+ setting `line-height` on `input` using `!important` in
            * the UA stylesheet.
            */

            button,
            input {
                line-height: normal;
            }

            /**
            * Address inconsistent `text-transform` inheritance for `button` and `select`.
            * All other form control elements do not inherit `text-transform` values.
            * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
            * Correct `select` style inheritance in Firefox 4+ and Opera.
            */

            button,
            select {
                text-transform: none;
            }

            /**
            * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
            *    and `video` controls.
            * 2. Correct inability to style clickable `input` types in iOS.
            * 3. Improve usability and consistency of cursor style between image-type
            *    `input` and others.
            * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
            *    Known issue: inner spacing remains in IE 6.
            */

            button,
            html input[type="button"], /* 1 */
            input[type="reset"],
            input[type="submit"] {
                -webkit-appearance: none; /* 2 */
                cursor: pointer; /* 3 */
                *overflow: visible;  /* 4 */
                border: none;
                outline: none;
            }

            /**
            * Re-set default cursor for disabled elements.
            */

            button[disabled],
            html input[disabled] {
                cursor: default;
            }

            /**
            * 1. Address box sizing set to content-box in IE 8/9.
            * 2. Remove excess padding in IE 8/9.
            * 3. Remove excess padding in IE 7.
            *    Known issue: excess padding remains in IE 6.
            */

            input[type="checkbox"],
            input[type="radio"] {
                box-sizing: border-box; /* 1 */
                padding: 0; /* 2 */
                *height: 13px; /* 3 */
                *width: 13px; /* 3 */
            }

            /**
            * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
            * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
            *    (include `-moz` to future-proof).
            */

            input[type="search"] {
                -webkit-appearance: textfield; /* 1 */
                -moz-box-sizing: content-box;
                -webkit-box-sizing: content-box; /* 2 */
                box-sizing: content-box;
            }

            /**
            * Remove inner padding and search cancel button in Safari 5 and Chrome
            * on OS X.
            */

            input[type="search"]::-webkit-search-cancel-button,
            input[type="search"]::-webkit-search-decoration {
                -webkit-appearance: none;
            }

            /**
            * Remove inner padding and border in Firefox 3+.
            */

            button::-moz-focus-inner,
            input::-moz-focus-inner {
                border: 0;
                padding: 0;
            }

            /**
            * 1. Remove default vertical scrollbar in IE 6/7/8/9.
            * 2. Improve readability and alignment in all browsers.
            */

            textarea {
                overflow: auto; /* 1 */
                vertical-align: top; /* 2 */
            }

            /**
            * Remove most spacing between table cells.
            */

            table {
                border-collapse: collapse;
                border-spacing: 0;
            }

            html,
            button,
            input,
            select,
            textarea {
                color: #222;
            }


            ::-moz-selection {
                background: #b3d4fc;
                text-shadow: none;
            }

            ::selection {
                background: #b3d4fc;
                text-shadow: none;
            }

            img {
                vertical-align: middle;
            }

            fieldset {
                border: 0;
                margin: 0;
                padding: 0;
            }

            textarea {
                resize: vertical;
            }

            .chromeframe {
                margin: 0.2em 0;
                background: #ccc;
                color: #000;
                padding: 0.2em 0;
            }
        </style>

        <script>
            modules = {};
        </script>
    </head>
    <body>

        <!-- Required Runtime JavaScript -->
        {% include "_layouts/global-javascript.twig" %}

        {% spaceless %}
            {# Page Transition Animation #}
            <div class="c-transition">
                <div class="c-transition_primary"></div>
                <div class="c-transition_secondary"></div>
            </div>
            {% block page %}{% endblock %}
        {% endspaceless %}

        {% set applicationPaths = craft.papertrain.getAssetPaths(['application']) %}
        {% do view.registerJsFile(applicationPaths['application'].module) %}

        <noscript>
            <div style="position:fixed;bottom:0;left:0;padding:16px 32px;border-radius:8px 8px 0 0;text-align:center;background-color:#ffffff;box-shadow:0 -1px 3px rgba(0,0,0,0.15), 0 -4px 32px rgba(0,0,0,0.1);left:50%;transform:translateX(-50%);z-index:99999;">
                <p>{{ "This website requires JavaScript to function. Please enable JavaScript and refresh the page."|t }}</p>
            </div>
        </noscript>
    </body>
</html>
