{% set pageTitle = siteName %}
{% if entry is defined %}
    {% set pageTitle = pageTitle ~ " | " ~ entry.title %}
{% elseif category is defined %}
    {% set pageTitle = pageTitle ~ " | " ~ category.title %}
{% endif %}
<!doctype html>
<html lang="en-US" class="has-no-js" data-debug="false">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{pageTitle}}</title>
    {% endblock %}

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="{{siteUrl}}assets/images/apple-touch-icon.png">
    <link rel="icon" href="{{siteUrl}}assets/images/favicon.png">

    <link rel="stylesheet" type="text/css" href="{{siteUrl}}assets/styles/main.css">
    
    {# Linked Fonts #}
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.2.0/js/all.js" integrity="sha384-4oV5EgaV02iISL2ban6c/RmotsABqE4yZxZLcYMAdG7FAPsyHYAPpywE9PJo+Khy" crossorigin="anonymous"></script>
</head> 
<body>
    {% spaceless %}
        <div class="js-transition c-transition"></div>
        {% include '_includes/header.twig' %}
        <main class="js-pjax-wrapper">
            <article id="content" role="main" class="js-pjax-container">
                {% block content %}{% endblock %}
            </article>
        </main>
        {% include '_includes/footer.twig' %}
    {% endspaceless %}
    <script src="{{siteUrl}}assets/scripts/app.js"></script>
</body>
</html>