{# Basic Form Input #}
{% macro input(label, name, required, type = 'text', help, maxLength = 254, icon, pattern, autocomplete = 'new-password') %}
    <div class="js-input o-input {% if help|length %}has-helper{% endif %}">
        <input id="{{ name }}-id" {% if icon %}class="has-icon"{% endif %} type="{{type}}" maxlength="{{ maxLength }}"  {% if type == 'email' %}inputmode="email"{% elseif type == 'tel' %}inputmode="tel"{% endif %} {% if pattern != '' %}pattern="{{pattern}}"{% elseif type == 'email' %}pattern=".+@.+\..+"{% endif %} {% if autocomplete %}autocomplete="{{autocomplete}}"{% endif %} name="{{name}}" {% if required %}required{% endif %} />
        <label for="{{ name }}-id" >{{label}}</label>
        {% if icon %}
            <span class="o-icon">
                {{icon}}
            </span>
        {% endif %}
        <div class="o-error">
            {% include '_svgs/exclamation-circle-regular.svg' %}
            <span class="js-error o-error_message">Something went wrong.</span>
        </div>
        {% if help|length %}
            <div class="o-help">
                <span class="o-help_message">{{help}}</span>
            </div>
        {% endif %}
    </div>
{% endmacro %}

{# Number Form Input #}
{% macro number(label, name, required, help, min = 0, max, step, icon) %}
    <div class="js-input o-input {% if help|length %}has-helper{% endif %}">
        <input id="{{ name }}-id" {% if icon %}class="has-icon"{% endif %} type="number" min="{{min}}" inputmode="numeric" {% if max %}max="{{max}}"{% endif %} {% if step %}step="0.{% for i in 1..step %}{% if not loop.last %}0{% else %}1{% endif %}{% endfor  %}"{% endif %} name="{{name}}" {% if required %}required{% endif %} />
        <label for="{{ name }}-id">{{label}}</label>
        {% if icon %}
            <span class="o-icon">
                {{icon}}
            </span>
        {% endif %}
        <div class="o-error">
            {% include '_svgs/exclamation-circle-regular.svg' %}
            <span class="js-error o-error_message">Something went wrong.</span>
        </div>
        {% if help|length %}
            <div class="o-help">
                <span class="o-help_message">{{help}}</span>
            </div>
        {% endif %}
    </div>
{% endmacro %}

{# Password Form Input #}
{% macro password(label, name, required, help, pattern) %}
    <div class="js-input js-password  o-input has-content-hidden has-helper">
        <input id="{{ name }}-id" type="password" pattern="{% if not pattern %}^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}${% else %}{{pattern}}{% endif %}" name="{{name}}" {% if required %}required{% endif %} />
        <label for="{{ name }}-id">{{label}}</label>
        <span class="js-password-toggle -hidden">
            {% include '_svgs/eye-solid.svg' %}
        </span>
        <span class="js-password-toggle -visible">
            {% include '_svgs/eye-slash-solid.svg' %}
        </span>
        <div class="o-error">
            {% include '_svgs/exclamation-circle-regular.svg' %}
            <span class="o-error_message">Minimum of 8 characters with 1 letter and 1 number.</span>
        </div>
        <div class="o-help">
            <span class="o-help_message">
                {% if help|length == null %}
                    Minimum of 8 characters with 1 letter and 1 number.
                {% else %}
                    {{help}}
                {% endif %}
            </span>
        </div>
    </div>
{% endmacro %}
{% macro passwordCheck(label, name, required) %}
    <div class="o-input js-password-checker has-content-hidden" data-for="{{ name }}">
        <input id="{{ name }}-checker-id" type="password" name="{{name}}-check" {% if required %}required{% endif %} />
        <label for="{{ name }}-checker-id">{{label}}</label>
        <span class="js-password-toggle -hidden">
            {% include '_svgs/eye-solid.svg' %}
        </span>
        <span class="js-password-toggle -visible">
            {% include '_svgs/eye-slash-solid.svg' %}
        </span>
        <div class="o-error">
            {% include '_svgs/exclamation-circle-regular.svg' %}
            <span class="o-error_message js-error">Passwords don't match.</span>
        </div>
        <div class="o-help">
            <span class="o-help_message">
                Please re-enter your password.
            </span>
        </div>
    </div>
{% endmacro %}

{# Pin Form Input #}
{% macro pin(label, name, required, help,  min = 4, max = 8, pattern = '^[0-9]*') %}
    <div class="js-input o-input has-content-hidden has-helper">
        <input id="{{ name }}-id" type="password" inputmode="numeric" minlength="{{min}}" maxlength="{{max}}" pattern="{{pattern}}" name="{{name}}" {% if required %}required{% endif %} />
        <label for="{{ name }}-id">{{label}}</label>
        <span class="js-password-toggle -hidden">
            {% include '_svgs/eye-solid.svg' %}
        </span>
        <span class="js-password-toggle -visible">
            {% include '_svgs/eye-slash-solid.svg' %}
        </span>
        <div class="o-error">
            {% include '_svgs/exclamation-circle-regular.svg' %}
            <span class="o-error_message">Pin must be a minimum of 4 digits.</span>
        </div>
        <div class="o-help">
            <span class="o-help_message">
                {% if help|length == null %}
                    Pin must be 4 to 8 digits.
                {% else %}
                    {{help}}
                {% endif %}
            </span>
        </div>
    </div>
{% endmacro %}

{# Select Form Input #}
{% macro select(label, name, required, help, options) %}
    <div class="js-select o-input {% if help|length %}has-helper{% endif %}">
        <select id="{{ name }}-id" name="{{name}}" {% if required %}required{% endif %}>
            <option value="any">&nbsp;</option>
            {% for option in options %}
                <option value="{{option.value}}">{{option.label}}</option>
            {% endfor %}
        </select>
        <label for="{{ name }}-id">{{label}}</label>
        <span class="o-arrow">
            {% include '_svgs/sort-down-solid.svg' %}
        </span>
        <div class="o-error">
            {% include '_svgs/exclamation-circle-regular.svg' %}
            <span class="js-error o-error_message">Something went wrong.</span>
        </div>
        {% if help|length %}
            <div class="o-help">
                <span class="o-help_message">{{help}}</span>
            </div>
        {% endif %}
    </div>
{% endmacro %}

{# Textarea Input #}
{% macro textarea(label, name, required, help) %}
    <div class="js-textarea o-textarea {% if help|length %}has-helper{% endif %}">
        <textarea id="{{ name }}-id" name="{{name}}" {% if required %}required{% endif %}></textarea>
        <label for="{{ name }}-id">{{label}}</label>
        <div class="o-error">
            {% include '_svgs/exclamation-circle-regular.svg' %}
            <span class="js-error o-error_message">Something went wrong.</span>
        </div>
        {% if help|length %}
            <div class="o-help">
                <span class="o-help_message">{{help}}</span>
            </div>
        {% endif %}
    </div>
{% endmacro %}

{# Radio Button Form Input #}
{% macro radio(label, name, help, options) %}
    <fieldset class="js-radio o-radio {% if help|length %}has-helper{% endif %}">
        {% for option in options %}
            <div class="o-radio_item">
                <input type="radio" id="{{option.value}}" name="{{name}}" value="{{option.value}}" {% if loop.first %}checked="checked"{% endif %}  />
                <label for="{{option.value}}">
                    <div class="o-radio_icon">
                        <div class="o-radio_outter"></div>
                        <div class="o-radio_inner"></div>
                    </div>
                    <span>{{option.label}}</span>
                </label>
            </div>
        {% endfor %}
        <label>{{label}}</label>
        {% if help|length %}
            <div class="o-help">
                <span class="o-help_message">{{help}}</span>
            </div>
        {% endif %}
    </fieldset>
{% endmacro %}

{# Checkbox Form Input #}
{% macro checkbox(label, name, help, options) %}
    <fieldset class="js-checkbox o-checkbox {% if help|length %}has-helper{% endif %}">
        {% for option in options %}
            <div class="o-checkbox_item">
                <input type="checkbox" id="{{option.value}}" name="{{name}}[]" value="{{option.value}}" />
                <label for="{{option.value}}">
                    <div class="o-checkbox_icon">
                        <div class="o-checkbox_box"></div>
                        <svg class="o-checkbox_check" viewbox="0 0 24 24">
                            <path fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59"></path>
                        </svg>
                    </div>
                    <span>{{option.label}}</span>
                </label>
            </div>
        {% endfor %}
        <label>{{label}}</label>
        {% if help|length %}
            <div class="o-help">
                <span class="o-help_message">{{help}}</span>
            </div>
        {% endif %}
        <div class="o-error">
            {% include '_svgs/exclamation-circle-regular.svg' %}
            <span class="js-error o-error_message">Something went wrong.</span>
        </div>
    </fieldset>
{% endmacro %}

{# Date Form Input #}
{% macro date(label, name, required, help, startDate, minDate, maxDate, icon = 'far fa-calendar-alt') %}
    <div class="js-input o-input {% if help|length %}has-helper{% endif %}">
        <input id="{{ name }}-id" {% if icon %}class="has-icon"{% endif %} type="date" name="{{name}}" {% if required %}required{% endif %} value="{% if startDate %}{{startDate}}{% else %}{{now|date('Y-m-d')}}{% endif %}" {% if minDate %}min="{{minDate}}"{% endif %} {% if maxDate %}max="{{maxDate}}"{% endif %} pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" />
        <label for="{{ name }}-id">{{label}}</label>
        {% if icon %}
            <span class="o-icon">
                {{icon}}
            </span>
        {% endif %}
        <div class="o-error">
            {% include '_svgs/exclamation-circle-regular.svg' %}
            <span class="js-error o-error_message">Something went wrong.</span>
        </div>
        {% if help|length %}
            <div class="o-help">
                <span class="o-help_message">{{help}}</span>
            </div>
        {% endif %}
    </div>
{% endmacro %}

{# Switch Form Input #}
{% macro switch(label, name, required, help, checked, value) %}
    <div class="js-switch o-switch  {% if help|length %}has-helper{% endif %}">
        <div class="o-switch_item">
            <input type="checkbox" id="{{name}}" name="{{name}}" value="{{value}}" {% if checked %}checked="checked"{% endif %} {% if required %}required{% endif %} />
            <label for="{{name}}">
                <span>
                    {{label}}
                    {% if help|length %}
                        <div class="o-help">
                            <span class="o-help_message">{{help}}</span>
                        </div>
                    {% endif %}
                    <div class="o-error">
                        {% include '_svgs/exclamation-circle-regular.svg' %}
                        <span class="js-error o-error_message">Something went wrong.</span>
                    </div>
                </span>
                <div class="o-switch_icon">
                    <div class="o-switch_track"></div>
                    <div class="o-switch_handle">
                        <div class="o-switch_circle"></div>
                    </div>
                </div>
            </label>
        </div>
    </div>
{% endmacro %}

{# File Form Input #}
{% macro file(label, name, required, help, count = 1, kinds) %}
    <div class="js-input o-input has-helper">
        <input type="file" name="{{name}}" {% if required %}required{% endif %} {% if count > 1 %}multiple{% endif %} {% if kinds %}accept="{% for kind in kinds %}{{ kind }}{% if not loop.last %},{% endif %}{% endfor %}"{% endif %} />
        <div class="o-error">
            {% include '_svgs/exclamation-circle-regular.svg' %}
            <span class="js-error o-error_message">Something went wrong.</span>
        </div>
        <div class="o-help">
            <span class="o-help_message">{{label}}{% if help|length %} - {{ help }}{% endif %}</span>
        </div>
    </div>
{% endmacro %}
