{% extends '_layouts/base' %}
{% block content %}
    <section data-template="Example Page" class="o-container-full u-padding-vertical-x6 u-mobile-padding">
        <h1 class="u-text-center">Base Elements</h1>
        <hr class="u-margin-vertical-x6"/>
        <div class="o-container">
            <div class="o-layout -gutter">
                <div class="o-layout_item u-1/1 u-margin-bottom-x6">
                    <h4 class="u-margin-bottom-x2">Sample Content</h4>
                    <p>
                        Lorem ipsum dolor amet letterpress deep v snackwave 8-bit +1. Distillery helvetica seitan, bicycle rights pop-up fixie church-key tumblr hoodie tacos affogato try-hard. Shabby chic craft beer small batch synth vaporware beard narwhal jianbing kinfolk blog tacos. Enamel pin poke humblebrag fixie church-key affogato tbh pitchfork succulents. Church-key waistcoat chambray fanny pack swag, yr mustache before they sold out celiac fashion axe portland. Copper mug try-hard migas post-ironic, retro authentic kombucha.
                    </p>
                    <p>
                        Seitan plaid blog kickstarter keffiyeh post-ironic. Authentic sriracha tacos keytar. Swag scenester irony health goth selfies kogi knausgaard street art direct trade chambray. Cold-pressed meh organic distillery twee kinfolk. Hella artisan YOLO master cleanse edison bulb pour-over literally cray flannel yr bushwick. Mumblecore marfa mustache typewriter hell of forage portland put a bird on it hella drinking vinegar helvetica iPhone chicharrones la croix offal. Pop-up iPhone biodiesel plaid freegan locavore meditation.
                    </p>
                    <p>
                        Portland fanny pack pabst, four loko stumptown try-hard everyday carry microdosing pug disrupt tbh. Kogi mustache banjo asymmetrical distillery pabst DIY shoreditch hexagon. Biodiesel knausgaard messenger bag slow-carb fixie. Cray YOLO artisan chillwave fam selfies fixie activated charcoal. Plaid beard asymmetrical, vice DIY poke synth godard woke. Gentrify seitan squid marfa, fam small batch salvia four dollar toast. Craft beer DIY tousled tofu +1.
                    </p>
                </div>
                <div class="o-layout_item u-1/1 u-1/2@large u-margin-bottom-x6">
                    <h4 class="u-margin-bottom">Magna odio tempus commodo</h4>
                    <p>
                        Scenester four loko truffaut selvage, flannel semiotics keffiyeh echo park celiac. Kale chips VHS shaman, food truck franzen pickled distillery unicorn readymade ugh you probably haven't heard of them paleo XOXO glossier. Direct trade retro cred, try-hard dreamcatcher chambray fanny pack crucifix enamel pin. Forage air plant fanny pack kale chips slow-carb tousled. Keffiyeh cardigan pour-over echo park aesthetic paleo ennui literally wayfarers sustainable vexillologist taxidermy bitters.
                    </p>
                    <p>
                        Vaporware la croix tacos gochujang, PBR&B pinterest typewriter messenger bag. Fanny pack seitan four dollar toast shoreditch PBR&B craft beer narwhal af street art chartreuse taiyaki poke brunch glossier. Biodiesel retro bicycle rights sriracha asymmetrical YOLO pork belly affogato. Kitsch put a bird on it yr, unicorn marfa lomo tacos chia skateboard before they sold out seitan keffiyeh. Mixtape vice humblebrag gastropub air plant forage pinterest la croix sustainable banjo echo park copper mug asymmetrical chillwave flannel. Hot chicken taxidermy 8-bit, selvage tofu la croix coloring book.
                    </p>
                </div>
                <div class="o-layout_item u-1/1 u-1/2@large u-margin-bottom-x6">
                    <div class="o-layout_item u-1/1e u-margin-bottom-x4">
                        <h1 class="u-text-center">Heading</h1>
                    </div>
                    <div class="o-layout_item u-1/1 u-margin-bottom-x4">
                        <h2 class="u-text-center">Heading 2</h2>
                    </div>
                    <div class="o-layout_item u-1/1 u-margin-bottom-x4">
                        <h3 class="u-text-center">Heading 3</h3>
                    </div>
                    <div class="o-layout_item u-1/1 u-margin-bottom-x4">
                        <h4 class="u-text-center">Heading 4</h4>
                    </div>
                    <div class="o-layout_item u-1/1 u-margin-bottom-x4">
                        <h5 class="u-text-center">Heading 5</h5>
                    </div>
                    <div class="o-layout_item u-1/1 u-margin-bottom-x4">
                        <h6 class="u-text-center">Heading 6</h6>
                    </div>
                    <div class="o-layout_item u-1/1">
                        <h6 class="o-subtitle u-text-center">Subtitle</h6>
                    </div>
                </div>
                <div class="o-layout_item u-1/1 u-text-center">
                    <a href="javascript:void(0);" class="u-margin-bottom-x2 o-button"><span>Button</span></a>
                    <a href="javascript:void(0);" class="u-margin-bottom-x2 o-button -solid"><span>Button</span></a>
                    <a href="javascript:void(0);" class="u-margin-bottom-x2 o-button -outline"><span>Button</span></a>
                    <a href="javascript:void(0);" class="u-margin-bottom-x2 o-button is-disabled"><span>Disabled</span></a>
                    <a href="javascript:void(0);" class="u-margin-bottom-x2 o-button -solid is-disabled"><span>Button</span></a>
                    <a href="javascript:void(0);" class="u-margin-bottom-x2 o-button -outline is-disabled"><span>Button</span></a>
                    <a href="javascript:void(0);" class="u-margin-bottom-x2 o-button is-active -icon o-tooltip">
                        <i class="-active far fa-bell"></i>
                        <i class="-inactive far fa-bell-slash"></i>
                        <span class="-alt">Notify</span>
                        <span class="o-tip">Notifications</span>
                    </a>
                    <a href="javascript:void(0);" class="u-margin-bottom-x2 o-button -solid has-icon">
                        <i class="far fa-cart-plus"></i>
                        <span>Button</span>
                    </a>
                    <a href="javascript:void(0);" class="u-margin-bottom-x2 o-button -solid -wide"><span>Button</span></a>
                </div>
                <hr class="u-margin-vertical-x6"/>
                <div class="o-layout_item u-1/1 u-3/5@medium u-margin-bottom-x4">
                    <table class="o-table">
                        <thead>
                            <tr>
                                <th>The table header</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Dessert (100g serving)</td>
                                <td>Calories</td>
                                <td>Fat (g)</td>
                                <td>Carbs (g)</td>
                                <td>Protein (g)</td>
                            </tr>
                            <tr>
                                <td>Frozen yogurt</td>
                                <td class="-number">159</td>
                                <td class="-number">6.0</td>
                                <td class="-number">24</td>
                                <td class="-number">4.0</td>
                            </tr>
                            <tr>
                                <td>Ice cream sandwich</td>
                                <td class="-number">237</td>
                                <td class="-number">9.0</td>
                                <td class="-number">37</td>
                                <td class="-number">4.3</td>
                            </tr>
                            <tr>
                                <td>Eclair</td>
                                <td class="-number">262</td>
                                <td class="-number">16.0</td>
                                <td class="-number">24</td>
                                <td class="-number">4.3</td>
                            </tr>
                            <tr>
                                <td>Cupcake</td>
                                <td class="-number">305</td>
                                <td class="-number">3.7</td>
                                <td class="-number">67</td>
                                <td class="-number">4.3</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="o-layout_item u-1/1 u-1/5@medium u-text-center u-margin-bottom-x4">
                    <ul class="o-wrapper">
                        <li><span>Single-line item</span></li>
                        <li><span>Single-line item</span></li>
                        <li><span>Secondary list</span>
                            <ul class="-circle">
                                <li><span>Single-line item</span></li>
                                <li><span>Single-line item</span></li>
                                <li><span>Single-line item</span></li>
                                <li><span>Third list</span>
                                    <ul class="-square">
                                        <li><span>Single-line item</span></li>
                                        <li><span>Single-line item</span></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><span>Single-line item</span></li>
                        <li><span>Single-line item</span></li>
                        <li><span>Single-line item</span></li>
                    </ul>
                </div>
                <div class="o-layout_item u-1/1 u-1/5@medium u-text-center u-margin-bottom-x4">
                    <ol class="o-wrapper">
                        <li><span>Single-line item</span></li>
                        <li><span>Single-line item</span></li>
                        <li><span>Secondary list</span>
                            <ul>
                                <li><span>Single-line item</span></li>
                                <li><span>Single-line item</span></li>
                                <li><span>Single-line item</span></li>
                            </ul>
                        </li>
                        <li><span>Single-line item</span></li>
                        <li><span>Single-line item</span></li>
                        <li><span>Single-line item</span></li>
                    </ol>
                </div>
            </div>
            <hr class="u-margin-vertical-x6" />
        </div>
        {% import '_macros/form' as form %}
        <div class="o-container-narrow">
            <h3 class="u-text-center u-margin-bottom-x6">Solid Style Input Example</h3>
            <form class="o-layout -gutter -solid" data-module="BasicForm">
                {{ form.input('Full Name', 'fullName', 'text', 'u-1/1', true, 'name', 'fas fa-user', 'Please provide your first and last name.') }}

                {{ form.input('Email Address', 'email', 'email', 'u-1/1', true, 'email') }}

                {{ form.number('Age', 'age', 'u-1/1 u-1/2@medium') }}

                {{ form.number('Weight', 'weight', 'u-1/1 u-1/2@medium', false, 'fal fa-weight') }}

                {{ form.password('Password', 'password', 'u-1/1 u-1/2@medium') }}

                {{ form.pin('Pin', 'pin', 'u-1/1 u-1/2@medium', true) }}

                {% set options = [
                    { 
                        title: 'Orange',
                        value: 'orange'
                    },
                    { 
                        title: 'Cat',
                        value: 'cat'
                    },
                    { 
                        title: 'Spider',
                        value: 'spider'
                    },
                ] %}
                {{ form.select('Favorite Thing', 'favThing', options, true, null, 'u-1/1 u-1/2@medium') }}

                {{ form.textarea('Description', 'desc', false, 'Please describe something you see.') }}

                {% set flavors = [
                    { 
                        title: 'Cookie Dough',
                        value: 'cookieDough'
                    },
                    { 
                        title: 'Candy Bar',
                        value: 'candyBar'
                    },
                    { 
                        title: 'Birthday Cake',
                        value: 'birthdayCake'
                    },
                    { 
                        title: 'Chocolate',
                        value: 'chocolate'
                    },
                    { 
                        title: 'Lemon Cake',
                        value: 'lemonCake'
                    },
                ] %}

                {{ form.radio('Favorite Flavor', 'favFlavor', flavors) }}

                {% set otherFlavors = [
                    { 
                        title: 'Mint Chip',
                        value: 'mintChip'
                    },
                    { 
                        title: 'Chocolate Moca Chip',
                        value: 'chocolateMocaChip'
                    },
                    { 
                        title: 'S\'mores',
                        value: 'smores'
                    },
                    { 
                        title: 'Peanut Butter Cup',
                        value: 'peanutButterCup'
                    },
                    { 
                        title: 'Cookies & Cream',
                        value: 'cookiesAndCream'
                    },
                ] %}

                {{ form.checkbox('Backup Favorites', 'otherFlavors', otherFlavors) }}

                {{ form.date('Birthday', 'birthday', false, 'test') }}

                {{ form.switch('Are You Happy?', 'isHappy', true, 'u-1/1', null) }}

                {{ form.switch('Are Sure?', 'isSure', false) }}
            </form>
            <hr class="u-margin-vertical-x6" />
            <h3 class="u-text-center u-margin-bottom-x6">Outline Style Input Example</h3>
            <form class="o-layout -gutter -outline" data-module="BasicForm">
                {{ form.input('Full Name', 'fullName', 'text', 'u-1/1', true, 'name', 'fas fa-user', 'Please provide your first and last name.') }}

                {{ form.input('Email Address', 'email', 'email', 'u-1/1', true, 'email') }}

                {{ form.number('Age', 'age', 'u-1/1 u-1/2@medium') }}

                {{ form.number('Weight', 'weight', 'u-1/1 u-1/2@medium', false, 'fal fa-weight') }}

                {{ form.password('Password', 'password', 'u-1/1 u-1/2@medium') }}

                {{ form.pin('Pin', 'pin', 'u-1/1 u-1/2@medium', true) }}

                {{ form.select('Favorite Thing', 'favThing', options, true, null, 'u-1/1 u-1/2@medium') }}

                {{ form.textarea('Description', 'desc', false, 'Please describe something you see.') }}

                {{ form.radio('Favorite Flavor', 'favFlavor', flavors) }}

                {{ form.checkbox('Backup Favorites', 'otherFlavors', otherFlavors) }}

                {{ form.date('Birthday', 'birthday', false, 'test') }}
            </form>
        </div>
    </section>
<!-- Content -->
{% endblock %}